<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="robot_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-2.17788399124432E-05 0.0296707040542089 7.81402825120996E-05"
        rpy="0 0 0" />
      <mass
        value="0.146517583349119" />
      <inertia
        ixx="0.000106560903252885"
        ixy="4.88069447698605E-08"
        ixz="-8.65453880040887E-08"
        iyy="0.000232025043330859"
        iyz="-3.73513294014937E-07"
        izz="0.000239273453341383" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="imu">
    <inertial>
      <origin
        xyz="-2.1779E-05 -7.814E-05 -0.016929"
        rpy="0 0 0" />
      <mass
        value="0.14652" />
      <inertia
        ixx="0.00010656"
        ixy="8.6545E-08"
        ixz="4.8807E-08"
        iyy="0.00023927"
        iyz="3.7351E-07"
        izz="0.00023203" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Imu_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Imu_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Imu_Joint"
    type="fixed">
    <origin
      xyz="0 0 0.0466"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="imu" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="laser">
    <inertial>
      <origin
        xyz="-0.00026334 -0.00093869 -0.00029198"
        rpy="0 0 0" />
      <mass
        value="0.020045" />
      <inertia
        ixx="6.0464E-06"
        ixy="4.204E-08"
        ixz="1.1728E-07"
        iyy="1.0842E-05"
        iyz="4.3064E-08"
        izz="6.0561E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Laser_Link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.75294 0.75294 0.75294 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://robot_description/meshes/Laser_Link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="Laser_Joint"
    type="fixed">
    <origin
      xyz="0 0 0.122512"
      rpy="0 0 3.1415926" />
    <parent
      link="base_link" />
    <child
      link="laser" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>
